<!-- Footer Section -->
<footer class="custom-border-top text-primary"
        style="position: fixed; bottom: 0; left: 0; width: 100%; max-height: 100px; height: 100px; z-index: 999;">

    <!-- Footer Container -->
    <div class="container d-flex flex-wrap justify-content-between align-items-center h-75">

        <!-- Left Side: Copyright -->
        <p class="col-md-4 mb-0">
            © 2025 NodeNote
        </p>

        <!-- Center: Brand Name -->
        <a href="/" class="col-md-4 d-flex justify-content-center text-decoration-none text-primary fw-bold fs-4">
            NodeNote
        </a>

        <!-- Right Side: Navigation Links -->
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a href="/" class="nav-link px-2 text-primary">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-primary">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-primary">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link px-2 text-primary">About</a>
            </li>
        </ul>
    </div>

    <!-- Bottom: Developer Credit -->
    <div class="text-center small" style="height: 25px;">
        Developed by 
        <span>
            <a href="https://github.com/laxman-goud" target="_blank" class="text-muted text-decoration-underline">
                Laxman
            </a>
        </span>
    </div>

</footer>
