<!-- Homepage Hero Section -->
<div class="container-fluid container-fluid-custom py-md-5 mb-5">

    <!-- Main tag for semantic layout -->
    <main>
        <!-- Centered text content -->
        <div class="row py-md-5 text-center justify-content-center">

            <!-- Hero Text Block -->
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <!-- Hero Title -->
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Write your thoughts down as they come to you.
                </h1>
                <!-- Description Paragraph -->
                <p class="fs-4 mb-4">
                    Notes is a simple-to-use free note-taking app made with Node.js, EJS & MongoDB.
                </p>
                <!-- CTA Button -->
                <a href="/dashboard" class="btn btn-primary btn-lg">
                    Try NodeNote, it's FREE!
                </a>
            </div>

        </div>
    </main>
</div>